<div class="card-columns">
    
</div>

<div class="card">
            <div class="card-body">
                <div id="title_div" class="row">
                    <div class="col-md">
                        <div class="block-title">
                            <img src="/img/map.png" style="height: 24px; width:24px;" alt="map" />
                            <label class="card-title">Минск (Беларусь)</label>
                        </div>
                    </div>
                    <div id="img_div" class="col-md-4">
                        <div class="block-user">
                            <label class="card-title">Ярик</label>
                            <img src="/img/auto/user.png" alt="pic" />
                        </div>
                    </div>
                </div>
                <hr>
                <div id="body_card_div" class="row">
                    <div class="col-md-2">
                        <div class="row">
                            <label class="lbl-time">08:00</label>
                        </div>
                        <div class="row">
                            <br>
                        </div>
                        <div class="row">
                            <label class="lbl-time">12:00</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="block-lbl-km">
                            <label class="lbl-km">13 км.</label><img src="/img/start_finish.jpg" alt="lbl" />
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="block-address">
                            <div class="row">
                                <label>ул. Свердлова 13а.</label>
                            </div>
                            <div class="row">
                                <br>
                            </div>
                            <div class="row">
                                <label>ул. Беларусская 25</label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md">
                        <div class="quantity">
                            <input type="number" min="1" max="9" step="1" value="1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="lbl-date">07/05/2021</label>
                    </div>
                    <div class="col-md">
                        <button id="more_info_btn" type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#bd-example-modal-lg">Бронь
                        </button>
                    </div>
                    <div class="col-md">
                        <label class="lbl-price">2 руб.</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div id="title_div" class="row">
                    <div class="col-md">
                        <div class="block-title">
                            <img src="/img/map.png" style="height: 24px; width:24px;" alt="map" />
                            <label class="card-title">Минск (Беларусь)</label>
                        </div>
                    </div>
                    <div id="img_div" class="col-md-4">
                        <div class="block-user">
                            <label class="card-title">Ярик</label>
                            <img src="/img/auto/user.png" alt="pic" />
                        </div>
                    </div>
                </div>
                <hr>
                <div id="body_card_div" class="row">
                    <div class="col-md-2">
                        <div class="row">
                            <label class="lbl-time">08:00</label>
                        </div>
                        <div class="row">
                            <br>
                        </div>
                        <div class="row">
                            <label class="lbl-time">12:00</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="block-lbl-km">
                            <label class="lbl-km">13 км.</label><img src="/img/start_finish.jpg" alt="lbl" />
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="block-address">
                            <div class="row">
                                <label>ул. Свердлова 13а.</label>
                            </div>
                            <div class="row">
                                <br>
                            </div>
                            <div class="row">
                                <label>ул. Беларусская 25</label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md">
                        <div class="quantity">
                            <input type="number" min="1" max="9" step="1" value="1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="lbl-date">07/05/2021</label>
                    </div>
                    <div class="col-md">
                        <button id="more_info_btn" type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#bd-example-modal-lg">Бронь
                        </button>
                    </div>
                    <div class="col-md">
                        <label class="lbl-price">2 руб.</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div id="title_div" class="row">
                    <div class="col-md">
                        <div class="block-title">
                            <img src="/img/map.png" style="height: 24px; width:24px;" alt="map" />
                            <label class="card-title">Минск (Беларусь)</label>
                        </div>
                    </div>
                    <div id="img_div" class="col-md-4">
                        <div class="block-user">
                            <label class="card-title">Ярик</label>
                            <img src="/img/auto/user.png" alt="pic" />
                        </div>
                    </div>
                </div>
                <hr>
                <div id="body_card_div" class="row">
                    <div class="col-md-2">
                        <div class="row">
                            <label class="lbl-time">08:00</label>
                        </div>
                        <div class="row">
                            <br>
                        </div>
                        <div class="row">
                            <label class="lbl-time">12:00</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="block-lbl-km">
                            <label class="lbl-km">13 км.</label><img src="/img/start_finish.jpg" alt="lbl" />
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="block-address">
                            <div class="row">
                                <label>ул. Свердлова 13а.</label>
                            </div>
                            <div class="row">
                                <br>
                            </div>
                            <div class="row">
                                <label>ул. Беларусская 25</label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md">
                        <div class="quantity">
                            <input type="number" min="1" max="9" step="1" value="1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="lbl-date">07/05/2021</label>
                    </div>
                    <div class="col-md">
                        <button id="more_info_btn" type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#bd-example-modal-lg">Бронь
                        </button>
                    </div>
                    <div class="col-md">
                        <label class="lbl-price">2 руб.</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div id="title_div" class="row">
                    <div class="col-md">
                        <div class="block-title">
                            <img src="/img/map.png" style="height: 24px; width:24px;" alt="map" />
                            <label class="card-title">Минск (Беларусь)</label>
                        </div>
                    </div>
                    <div id="img_div" class="col-md-4">
                        <div class="block-user">
                            <label class="card-title">Ярик</label>
                            <img src="/img/auto/user.png" alt="pic" />
                        </div>
                    </div>
                </div>
                <hr>
                <div id="body_card_div" class="row">
                    <div class="col-md-2">
                        <div class="row">
                            <label class="lbl-time">08:00</label>
                        </div>
                        <div class="row">
                            <br>
                        </div>
                        <div class="row">
                            <label class="lbl-time">12:00</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="block-lbl-km">
                            <label class="lbl-km">13 км.</label><img src="/img/start_finish.jpg" alt="lbl" />
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="block-address">
                            <div class="row">
                                <label>ул. Свердлова 13а.</label>
                            </div>
                            <div class="row">
                                <br>
                            </div>
                            <div class="row">
                                <label>ул. Беларусская 25</label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md">
                        <div class="quantity">
                            <input type="number" min="1" max="9" step="1" value="1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="lbl-date">07/05/2021</label>
                    </div>
                    <div class="col-md">
                        <button id="more_info_btn" type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#bd-example-modal-lg">Бронь
                        </button>
                    </div>
                    <div class="col-md">
                        <label class="lbl-price">2 руб.</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div id="title_div" class="row">
                    <div class="col-md">
                        <div class="block-title">
                            <img src="/img/map.png" style="height: 24px; width:24px;" alt="map" />
                            <label class="card-title">Минск (Беларусь)</label>
                        </div>
                    </div>
                    <div id="img_div" class="col-md-4">
                        <div class="block-user">
                            <label class="card-title">Ярик</label>
                            <img src="/img/auto/user.png" alt="pic" />
                        </div>
                    </div>
                </div>
                <hr>
                <div id="body_card_div" class="row">
                    <div class="col-md-2">
                        <div class="row">
                            <label class="lbl-time">08:00</label>
                        </div>
                        <div class="row">
                            <br>
                        </div>
                        <div class="row">
                            <label class="lbl-time">12:00</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="block-lbl-km">
                            <label class="lbl-km">13 км.</label><img src="/img/start_finish.jpg" alt="lbl" />
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="block-address">
                            <div class="row">
                                <label>ул. Свердлова 13а.</label>
                            </div>
                            <div class="row">
                                <br>
                            </div>
                            <div class="row">
                                <label>ул. Беларусская 25</label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md">
                        <div class="quantity">
                            <input type="number" min="1" max="9" step="1" value="1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="lbl-date">07/05/2021</label>
                    </div>
                    <div class="col-md">
                        <button id="more_info_btn" type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#bd-example-modal-lg">Бронь
                        </button>
                    </div>
                    <div class="col-md">
                        <label class="lbl-price">2 руб.</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div id="title_div" class="row">
                    <div class="col-md">
                        <div class="block-title">
                            <img src="/img/map.png" style="height: 24px; width:24px;" alt="map" />
                            <label class="card-title">Минск (Беларусь)</label>
                        </div>
                    </div>
                    <div id="img_div" class="col-md-4">
                        <div class="block-user">
                            <label class="card-title">Ярик</label>
                            <img src="/img/auto/user.png" alt="pic" />
                        </div>
                    </div>
                </div>
                <hr>
                <div id="body_card_div" class="row">
                    <div class="col-md-2">
                        <div class="row">
                            <label class="lbl-time">08:00</label>
                        </div>
                        <div class="row">
                            <br>
                        </div>
                        <div class="row">
                            <label class="lbl-time">12:00</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="block-lbl-km">
                            <label class="lbl-km">13 км.</label><img src="/img/start_finish.jpg" alt="lbl" />
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="block-address">
                            <div class="row">
                                <label>ул. Свердлова 13а.</label>
                            </div>
                            <div class="row">
                                <br>
                            </div>
                            <div class="row">
                                <label>ул. Беларусская 25</label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md">
                        <div class="quantity">
                            <input type="number" min="1" max="9" step="1" value="1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label class="lbl-date">07/05/2021</label>
                    </div>
                    <div class="col-md">
                        <button id="more_info_btn" type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#bd-example-modal-lg">Бронь
                        </button>
                    </div>
                    <div class="col-md">
                        <label class="lbl-price">2 руб.</label>
                    </div>
                </div>
            </div>
        </div>