<link rel="stylesheet" href="/css/ad.css">
<div class="wrapper fadeInDown" style="background-color: rgb(25, 152, 194);">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <br><br>
            <img style="width:48px; height:48px; margin-bottom:20px"
                src="https://img.icons8.com/fluent/48/000000/car.png" id="icon" alt="User Icon" />
        </div>

        <!-- Ad Form -->
        <form method="POST">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="passenger-tab" data-toggle="tab" href="#passenger" role="tab"
                        aria-controls="home" aria-selected="true" style="font-size: 16px !important;">Пассажир</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="driver-tab" data-toggle="tab" href="#driver" role="tab"
                        aria-controls="profile" aria-selected="false" style="font-size: 16px !important;">Водитель</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                {{!-- Passenger tab --}}
                <div class="tab-pane fade show active" id="passenger" role="tabpanel" aria-labelledby="passenger-tab">
                    <div class="form-row">
                        <div class="form-group col-md">
                            <input type="text" class="form-control" id="inputAddress" placeholder="Страна">
                        </div>
                        <div class="form-group col-md">
                            <input type="text" class="form-control" id="inputAddress" placeholder="Город">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md">
                            <input type="text" class="form-control" id="inputAddress" placeholder="Адрес отправления">
                        </div>
                        <div class="form-group col-md">
                            <input type="text" class="form-control" id="inputAddress" placeholder="Адрес прибытия">
                        </div>
                    </div>

                    <br><br>

                    <div class="form-row">
                        <div class="form-group col-md">
                            <label for="inputAddress">Дата отправления</label>
                            <input type="date" class="form-control" id="date_start">
                        </div>
                        <div class="form-group col-md">
                            <label for="inputAddress">Время отправления</label>
                            <input type="time" class="form-control" id="inputAddress">
                        </div>
                    </div>

                    <div class="form-row" style="padding: 0 3.7%;">
                        <div class="form-group col-md">
                            <input type="text" class="form-control" id="inputAddress" placeholder="Радиус подхода">
                        </div>
                        <div class="form-group col-md">
                            <input type="text" class="form-control" id="date_start" placeholder="Цена поездки">
                        </div>
                        <div class="form-group col-md">
                            <input type="number" class="form-control" id="inputAddress" min="1" max=""
                                placeholder="Мест">
                        </div>
                    </div>
                </div>
                {{!-- End Passenger tab --}}

                {{!-- Driver tab --}}
                <div class="tab-pane fade" id="driver" role="tabpanel" aria-labelledby="driver-tab">

                    <div class="form-row">
                        <div class="form-group col-md">
                            <input type="text" class="form-control" id="inputAddress" placeholder="Страна">
                        </div>
                        <div class="form-group col-md">
                            <input type="text" class="form-control" id="inputAddress" placeholder="Город">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md">
                            <input type="text" class="form-control" id="inputAddress" placeholder="Адрес отправления">
                        </div>
                        <div class="form-group col-md">
                            <input type="text" class="form-control" id="inputAddress" placeholder="Адрес прибытия">
                        </div>
                    </div>

                    <br><br>

                    <div class="form-row">
                        <div class="form-group col-md">
                            <label for="inputAddress">Дата отправления</label>
                            <input type="date" class="form-control" id="date_start">
                        </div>
                        <div class="form-group col-md">
                            <label for="inputAddress">Время отправления</label>
                            <input type="time" class="form-control" id="inputAddress">
                        </div>
                    </div>

                    <div class="form-row" style="padding: 0 3.7%;">
                        <div class="form-group col-md">
                            <input type="text" class="form-control" id="inputAddress" placeholder="Радиус сбора">
                        </div>
                        <div class="form-group col-md">
                            <input type="text" class="form-control" id="date_start" placeholder="Цена поездки">
                        </div>
                        <div class="form-group col-md">
                            <input type="number" class="form-control" id="inputAddress" min="1" max=""
                                placeholder="Мест">
                        </div>
                    </div>
                </div>
                {{!-- End Driver tab --}}
            </div>

            <br><hr><br>

            <input type="submit" formaction="/ads/create" class="fadeIn fourth" value="Create">
        </form>

        <style>
            #log {
                color: #23527c;
            }
        </style>
    </div>
</div>